<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GPX</a>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">


      <ul class="nav navbar-nav">
        <li>    
        	
          <div class="navbar-form">
	        <div class="form-group">
	          <typeahead-gpx></typeahead-gpx>
	        </div>
	        <button type="submit" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true"></button>
	      </div>
        <!--	
	      <form class="navbar-form" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search Party, People">
	        </div>
	        <button type="submit" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true"></button>
	      </form>
	      -->
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" class="glyphicon glyphicon-bell" aria-hidden="true">Notification</a></li>
        <li><a href="#" class="glyphicon glyphicon-user" aria-hidden="true"></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
       <div class="row">
           <div class="col-xs-12 col-sm-10">

            <tabset type="pills" #staticTabs>
              <tab #legislatorsTab heading='Legislators' (select)="clickTab('Search')">
              <!--
                <search-legislator>
                    
                </search-legislator>
                -->
              <!--
                <search-legislator (success)="onSearch($event.legislators)">
                  
                </search-legislator>
              
                <ul style="list-style-type:none">

                  <li *ngFor="let legislator of legislators" class="legisBoundary">
                    <legislator [legislator]=legislator (click)="gotoLegislator(legislator)"></legislator>
                  </li>
                </ul>
                -->              
              </tab>



              <tab heading='News' (select)="clickTab('News')">
              <!--
                <newPost-gpx></newPost-gpx>
                <post-gpx></post-gpx>
                <post-gpx></post-gpx>
                <post-gpx></post-gpx>
                <post-gpx></post-gpx>
                <post-gpx></post-gpx>
                -->      
              </tab>

              <tab heading='Parties' (select)="clickTab('Parties')">
              <!--
                <party-list></party-list>
                -->
              </tab>

              <tab heading='Post' (select)="clickTab('Post')">
              </tab>
           <!--
              <tab heading='Map' (select)="clickTab('Map')">
   
                <map-gpx></map-gpx>
                
              </tab>
              <tab heading='Org Structure'">
              </tab>
-->
              <tab heading='Constituency/District Profile' (select)="clickTab('District')">
              <!--
                <constitutionProfile-gpx></constitutionProfile-gpx>
                -->      
              </tab>

            </tabset>
          </div>


          

      </div>

    <!-- view area -->
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>

   </div>

