    <div class='row'>
        <div class='col-xs-12'>
          <h5>View Mode:</h5>
          <select [(ngModel)]="selected_permission">
            <option>Editor</option>
            <option>Viewer</option>
          </select>
        </div>
    </div>

<div class="col-xs-12 constitutionProfile">

              
	<div class="constitutionTop">
		<div class="col-md-10">
	<!--
		<rating [(ngModel)]="x" [max]="10" [readonly]="false"
	        (onHover)="hoveringOver($event)" (onLeave)="resetStar($event)"
	        [titles]="['one','two','three']"></rating>
	    -->
		    <div class="banner col-md-2">
		 
				<banner-gpx [imageUrl]="'../../images/yeoman.png'"></banner-gpx>
		
			</div>

			<h5>District Name:</h5>
		    <div id="constitutionHeader" class="constitutionHeader col-md-10">
             	<ndv-edit [permission]="checkPermissions()" [min]="2" [max]="50"  [title]="'name'" [placeholder]="name" (onSave)="saveMethod($event)"></ndv-edit>
		    </div>
		</div>

		<div class="col-md-2">
				 <button type="button" class="btn btn-primary">Follow</button>
		</div>	
	</div>

<hr>
<!-- BODY -->
	<div>
		<div class="col-md-8">
			<h5>Description:</h5>
			<div id="constitutionDescription" class="constitutionDescription">
             	<ndv-edit [permission]="checkPermissions()" [min]="2" [max]="50"  [title]="'description'" [placeholder]="description" (onSave)="saveMethod($event)"></ndv-edit>					
		    </div>

    		<div>
	            <tabset type="pills">
		          <tab heading='Wards'>
        		  </tab>
        		  <tab heading='Voters'>
        		  </tab>
          		  <tab heading='Places'>
        		  </tab>
          		  <tab heading='Business'>
        		  </tab>
          		  <tab heading='Activities'>
        		  </tab>        		  
          		  <tab heading='Issues'>
        		  </tab>
          		  <tab heading='Sensex'>
        		  </tab>

          		</tabset>
			</div>

		</div>
		<div class="col-md-4">
		    <button type="button" class="btn btn-primary"
	            (click)="isCollapsed = !isCollapsed">Elected Persons
		    </button>

		    <div (collapsed)="collapsed($event)"
		         (expanded)="expanded($event)"
		         [collapse]="isCollapsed"
		         class="card card-block card-header">
		      <div>
			    <ul class="heroes">
					<li *ngFor="let electedPerson of electedPersons"
					        [class.selected]="selectedPerson === electedPerson"
					        (click)="onSelect(selectedPerson)">
						<person 
				         
				        [personip]="electedPerson"
				        (hello)="saidHello($event)">
				    	</person>
				  </li>
				</ul>
			    
			  </div>
		    </div>
		    <hr>

			<button type="button" class="btn btn-primary"
	            (click)="isCMCollapsed = !isCMCollapsed">Contested Person
		    </button>
		  
		    <div (collapsed)="collapsed($event)"
		         (expanded)="expanded($event)"
		         [collapse]="isCMCollapsed"
		         class="card card-block card-header">
		      <div class="well well-lg">
			    <tabset>
			    	<tab>
					<person 
			        *ngFor="let contestedPerson of contestedPersons" 
			        [personip]="contestedPerson"
			        (hello)="saidHello($event)">
			    	</person>

			    	</tab>
			    </tabset> 
			  </div>
		    </div>	 
		    <hr>

			<button type="button" class="btn btn-primary"
	            (click)="isPartiesCollapsed = !isPartiesCollapsed">Parties
		    </button>

		</div>
	</div>
</div>