    <div *ngIf="legislator">

      <div class="shortProfileInfo" (click)="gotoLegislator(legislator)">
        <div>
          <div class="col-xs-4">
            <banner-gpx [imageUrl]="legislator.bioguideImageUrl" [height]="50" [width]="50"></banner-gpx>
           <!--
            <a href="#" class="glyphicon glyphicon-user" aria-hidden="true"></a>
            -->
          </div>
          <div>

              <ul style="list-style-type:none" *ngFor="let key of keys">

                <li>{{key}}: {{legislator[key]}}</li>

              </ul>
              bioguide image url  {{legislator.bioguideImageUrl}}
          </div>    
        </div>
      </div>
  </div>
