<newPost-gpx></newPost-gpx>

<ul style="list-style-type:none">
	<li *ngFor="let post of posts">
		<div class="col-xs-12 post">
			<div class="col-xs-2 smTagImg">
				<banner-gpx [imageUrl]="'../../images/yeoman.png'" [height]="50" [width]="50"></banner-gpx>
				{{post.userName}}
			</div>
			<div class="col-xs-10 postDetail">
				<div class="postText">
					{{post.txtPost}}
				</div>
				<div class="postAction">
					<button type="button" class="btn btn-primary">Comment</button>
					<button type="button" class="btn btn-primary">Like</button>
				</div>
			</div>
		</div>
	</li>
</ul>