      <label>Congress - House Representatives</label>

      <div>Your State: 
        <button type="button" class="btn btn-primary">{{state}}</button>
      </div>
      
      <div>Your Congressional District(s): 
        <button *ngFor="let congressDistrict of congressDistricts" type="button" class="btn btn-primary" (click)="gotoDistrict(congressDistrict.name)">{{congressDistrict.name}}</button>
      </div>
      
      <div>
        <label>Find your legislators: </label>
     
        <input type="text" class="searchLegisBox" [(ngModel)]="ipZipcode" placeholder="Zipcode" />

        <label class="btn btn-success" uncheckable (click)="getCongressLegislatorsByZip(ipZipcode)">Search</label>
      </div>
      
      <div class="searchTip">{{searchTip}}</div>

      <div>
        <ul style="list-style-type:none">
          <li *ngFor="let legislator of legislators" class="legisBoundary1">
            <legislator [legislator]=legislator></legislator>
          </li>
        </ul>
      </div>      