      <label>Find your legislators: </label>
   
      <input type="text" class="searchLegisBox" [(ngModel)]="ipZipcode" placeholder="Zipcode" />

      <label class="btn btn-success" uncheckable (click)="search(ipZipcode)">Search</label>

      <div class="searchTip">
      	Showing legislator(s) for the location: {{currentLocationZip}}
      </div>

      <ul style="list-style-type:none">
        <li *ngFor="let legislator of legislators" class="legisBoundary">
          <legislator [legislator]=legislator (click)="gotoLegislator(legislator)"></legislator>
        </li>
      </ul>